/* Medium Desktop */
@media (max-width: 1700px) {
    body{
        width: 100%;
    }
    .mobile{
        display: none;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .mobile {
        display: block;
        box-sizing: border-box;
    }
    .desktop {
        display: none;
    }
    img{
        width:100%;
    }
    .menu{
        width:100%;
        text-align: center;
        
    }
    .menu .col-4{
        padding:10px;
    }
    
    .menu .barRe{
        padding-left:15px;
        text-align: left;
    }
    .menu .icon{
        text-align: right;
        padding-right: 10px;
    }
    
    .menu ul li{
        display: inline;
        margin-right: 5px;
    }
    .middleRe{
        width: 100%;
    }
   /* .border{
       border-bottom: 1px solid #e5e5e5;
    } */
    .responsive .menu .middleRe .photo{
        height: 400px;;
    }
    .responsive .menu .middleRe .photo .textImg{
        position: relative;
    }
    .responsive .menu .middleRe .photo .textImg img{
        position: absolute;
        left:0;
    }
    .responsive .menu .middleRe .photo .textImg span{
        position: absolute;
        font-weight: bold;
        font-size:45px;
        color:white;
        margin: 32px -184px;
    }
    .responsive .menu .middleRe .buttonShop {
        margin:40px 0px;
    }
    .responsive .menu .middleRe .buttonShop a{
        background-color: #111111;
        color:white;
        font-weight: bold;
        font-size: 17px;
        padding:18px 70px;
        transition: 0.4s;
    }
    .responsive .menu .middleRe .buttonShop a:hover{
        background-color: white;
        color:black;
    }
    .responsive .menu .middleRe .slide span,.responsive .menu .middleRe .slide p{
        color: black;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.75;
    }
    .responsive .menu .middleRe .slide p{
        color: #9b9b9b;
    }
    .responsive .menu .middleRe .slide span{
        display: block;
        text-align: left;
        margin-left: 10px;
        text-transform: capitalize;
    }
    .responsive .menu .middleRe .photo2{
        height: auto;
        display: block;
        margin-bottom: 20px;
    }
    .responsive .menu .middleRe .photo2 .intro{
        position: relative;
        height: 375px;
    }
    .responsive .menu .middleRe .photo2 .intro p{
        position: absolute;
        left:0;
        font-weight: bold;
        font-size:35px;
        color:white;
        top:60px;
        left:10px;
        z-index: 10;
        text-transform: uppercase;
    }
    .responsive .menu .middleRe .photo2 .intro img{
        position: absolute;
        left:0;
    }
    .responsive .menu .middleRe .photo2 .textPhoto .row .col-6{
        position: relative;
        height: 300px;
    }
    .responsive .menu .middleRe .photo2 .textPhoto .row .col-6 img{
        position: absolute;
        left:0;
        z-index: 1;
    }
    .responsive .menu .middleRe .photo2 .textPhoto .row .col-6 .top{
        position: absolute;
        font-size: 12px;
        color: rgb(255, 255, 255);
        z-index: 2;
        top:5px;
        left:22px;
    }
    .responsive .menu .middleRe .photo2 .textPhoto .row .col-6 .bottom2{
        position: absolute;
        z-index: 3;
        color:black;
        font-size:12px;
        bottom: 10px;
        left: 35px;
    }
    .responsive .menu .middleRe .renewDenim p{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        line-height: 1.75;
        margin:10px 0;
    }
    .responsive .menu .middleRe .red{
        background-color: rgba(216, 8, 8, 0.836);
        height: 560px;
    }
    .responsive .menu .middleRe .red span{
        font-weight: bold;
        font-size:35px;
        color:white;
        position: relative;
        top:50px;
    }
    .middleRe .about{
        text-align: center;
        width: 100%;
    }
    .middleRe .about h3{
            font-weight: 400;
            padding: 15px;
    }
    .middleRe .about p, .middleRe .about4 p{
        vertical-align: baseline;
        color:#757575;
      line-height: 1.31;
      font-size:11px;
     padding: 15px
    }
    .middleRe .about a{
        line-height: 1.31;
        font-size:11px;
        color: black;
        padding: 15px;
        text-decoration: underline;
    }
    .middleRe .about a:hover{
        color:#757575;
    }
    .middleRe .about2{
        width: 100%;
        display: flex;
        text-align: center;
       
    }
    .middleRe .about2 .left{
        width:50%;
        
    }
    .middleRe .about2 .left a{
        color:white;
        text-decoration: none;
        padding: 25px 50px;
        background-color: black;
    }
    .middleRe .about3{
        width:100%;
        margin-bottom: 20px;
    }
    .middleRe .about3 ul li{
        list-style-type: none;
        display: inline-block;
        margin: 20px;
    }
    .middleRe .about3 ul li a{
        text-decoration: none;
        color:black;
        font-weight: bold;
    }
    .middleRe .about4{
        width:100%;
        text-align: center;
    }
    .middleRe .about4 span{
        font-weight: 700;
        font-size: 20px;
    }
    .middleRe .social{
        display: inline-block;
        margin-bottom: 20px;
    }
    .middleRe .social .icon{
        display: inline;
        

    }
    .middleRe .social .icon a{
        color: #111111;
        text-decoration: none;
        padding:12px;
    }
    .middleRe .social .icon a:hover{
        border: 1px solid #2b2b2b;
    }
    .footer{
        background-color: black;
        width:100%;
        height:60px;
        position: relative;
        display: flex;
    }
    .footer .left{
        width:50%;
        color:white;
        
    }
    .footer .left a{
        text-decoration: none;
        color:white;

    }
}